---
# This is an example env.yaml for a liquidchaos node environment
db: &dbdef
   # Database configuration (WIP)
peers: # Peers to send requests to
  "https://URL1":
    auth: &authdef
      user: alice
      public_key: &keydef
        type: string|file|eval
        value: "alice12345" # applies to strings
        path: "/path/to/file" # applies to files
        eval: "gpg -d $HOME/path/to/keyfile" # applies to evals
      secret_key: *keydef
  [...]
...
